<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/output.css">
    <title>Hello</title>
</head>

<body class="m-0">
    <div class="pb-10 pl-14 pt-20">
        <div>
            <h1 class="text-5xl font-medium w-max">Apple iPhone 15 Pro</h1>
            <div>
                <div class="translate-y-7">
                    <img src="../src/img/card-description/logo/Screenshot_3.png" alt="" class="inline-block">
                    <h4 class="inline-block">0 отзывов</h4>
                </div>
                <div class="text-right">
                    <div class="inline-block">
                        <img src="../src/img/card-description/logo/Screenshot_4.png" alt="" class="inline-block"
                            width="26px">
                        <h5 class="md:inline-block hidden  text-red-600">Добавить в сравнение</h5>
                    </div>
                    <div class="inline-block">
                        <img src="../src/img/card-description/logo/Screenshot_1.png" alt="" class="inline-block"
                            width="26px">
                        <h5 class="md:inline-block hidden text-red-600">Добавить в избранное</h5>
                    </div>
                    <div class="inline-block">
                        <img src="../src/img/card-description/logo/Screenshot_2.png" alt="" class="inline-block"
                            width="26px">
                        <h5 class="md:inline-block hidden text-red-600">Поделиться</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="xl:grid xl:grid-cols-2 translate-y-10">
            <div class="grid md:grid-cols-2">
                <div class="">
                    <div class="w-max ">
                        <img src="https://olcha.uz/image/700x700/products/Cjg3V5nm4mBivJC9davhVhYWJBhcreltBb7OOuLX8ol5KM5TsUNUUEA6j9sK.jpg"
                            alt="" style="width:466px;" class="max-md:w-96">
                    </div>
                    <button class="translate-x-40">
                        <img src="../src/img/card-description/logo/Screenshot_5.png" alt="" width="42px"
                            class="inline-block">
                        <h4 class="inline-block text-red-600">Смотреть видео</h4>
                    </button>
                </div>
                <div class="xl:ml-36 grid gap-5 sm:ml-10">
                    <div class="gap-3.5 grid">
                        <h3 class="text-neutral-400">Объем встроенной памяти:</h3>
                        <div>
                            <button class="border-2 p-1.5 px-3 rounded-lg border-black">
                                128 GB
                            </button>
                            <button class="border-2 p-1.5 px-3 rounded-lg border-black">
                                256 GB
                            </button>
                            <button class="border-2 p-1.5 px-3 rounded-lg border-black">
                                512 GB
                            </button>
                            <button class="border-2 p-1.5 px-4 rounded-lg border-black">
                                1 TB
                            </button>
                        </div>
                    </div>
                    <div>
                        <h3 class="text-neutral-400">Цвет:</h3>
                        <div class="flex gap-3">
                            <div class="border-2 rounded-md p-1 border-black">
                                <img src="https://olcha.uz/image/70x70/products/supplier/stores/1/2023-09-13/x64fGyf3Aku67gaS9EVsT8XpdZNd53Au8IoA2ofqjovCBFtklyrWcREzas4n.jpg"
                                    alt="">
                            </div>
                            <div class="border-2 rounded-md p-1 border-black">
                                <img src="https://olcha.uz/image/70x70/products/supplier/stores/1/2023-09-13/EHb7QGeQvaRB4R4HwI1BJFF14LXoFRBAPfBD6Zjl0HeJnbTRxmcupZOPNF22.jpg"
                                    alt="">
                            </div>
                            <div class="border-2 rounded-md p-1 border-black">
                                <img src="https://olcha.uz/image/70x70/products/supplier/stores/1/2023-09-13/MK7ZY7kkRFqPL2DvquUALFBtm7bBdVSCyX76Wp3iZu9mfpcOCgf4SLN1rnZZ.jpg"
                                    alt="">
                            </div>
                            <div class="border-2 rounded-md p-1 border-black">
                                <img src="https://olcha.uz/image/70x70/products/supplier/stores/1/2023-09-13/r5rWorFXae6kEzgxMYznEwFRoBxpxZ93aPv6ib2jUWPQ4KfPjwqt3GSZNYt5.jpg   "
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <div class="grid gap-3 mb-2">
                        <div class="w-max">
                            <h5 class="text-neutral-400 inline">
                                Размеры......................................................
                            </h5>
                            <h5 class="inline">146.6x70.6x8.25 мм</h5>
                        </div>
                        <div>
                            <h5 class="text-neutral-400 inline">Версия
                                ОС...................................................
                            </h5>
                            <h5 class="inline">iOS 17</h5>
                        </div>
                        <div>
                            <h5 class="text-neutral-400 inline">
                                Цвет...............................................................
                            </h5>
                            <h5 class="inline">Natural titanium</h5>
                        </div>
                        <div>
                            <h5 class="text-neutral-400 inline">
                                Цвет...............................................................
                            </h5>
                            <h5 class="inline">Blue titanium</h5>
                        </div>
                        <div>
                            <h5 class="text-neutral-400 inline">
                                Цвет...............................................................
                            </h5>
                            <h5 class="inline">White titanium</h5>
                        </div>
                        <div>
                            <h5 class="text-neutral-400 inline">Датчик Face
                                ID..........................................
                            </h5>
                            <h5 class="inline">Есть</h5>
                        </div>
                        <div>
                            <h5 class="text-neutral-400 inline">
                                Цвет...............................................................
                            </h5>
                            <h5 class="inline">Black titanium</h5>
                        </div>
                        <div>
                            <h5 class="text-neutral-400 inline">
                                Влагозащита..............................................
                            </h5>
                            <h5 class="inline">Есть, IP68</h5>
                        </div>
                        <div>
                            <h5 class="text-neutral-400 inline">
                                Вес.................................................................
                            </h5>
                            <h5 class="inline">187 г</h5>
                        </div>
                    </div>
                    <a href="#" class="text-blue-600">Смотреть все характеристики</a>
                </div>
            </div>
            <div class="border-2 rounded-xl border-gray-200 translate-y-3 w-max p-5 pl-7 grid xl:translate-x-72 sm:ml-10"
                style="width: 387px; height: 496px;">
                <div class="grid">
                    <h1 class="inline-block text-2xl font-bold">15 484 000 сум</h1>
                    <div class="grid grid-cols-2">
                        <p class="text-neutral-400 w-max">Информация о доставке:</p>
                        <img src="../src/img/card-description/logo/info.png" alt="" width="24px" class="translate-x-32">
                    </div>
                </div>
                <div>
                    <img src="https://olcha.uz/_nuxt/icon-truck.12926646.svg" alt=""
                        class="inline-block -translate-y-7">
                    <div class="inline-block translate-y-3">
                        <p class="font-medium text-xl leading-5">Стандартная доставка</p>
                        <p class="leading-5">Доставка от 4 часов до 3 дней исходя<br> от адреса доставки</p>
                    </div>
                </div>
                <div class="border-b-2 border-neutral-400 -translate-y-7"></div>
                <button
                    class="border-2 border-emerald-500 h-12 bg-emerald-500 p-2.5 px-20 rounded-xl text-white font-medium"><img
                        src="" alt="">Добавить в корзину</button>
                <button class="border-2 border-black p-2.5 px-20 h-12 rounded-xl -mt-8 font-medium">Купить в Oдин
                    клик.</button>

                <div class="w-72">
                    <h4 class="font-bold text-lg">STP-Group ؆؆</h4>
                    <p class="text-gray-500">Ташкент, Шайхантахурский район, Малая кольцевая дорога, 61Б</p>
                </div>
            </div>
        </div>
        <div class="flex">
            <div class="flex gap-1 w-max translate-x-36 translate-y-20 max-xl:translate-x-1"
                style="margin: 0 auto; height: 50px !important;">
                <img src="https://olcha.uz/uploads/images/manufacturer/KK/KK/Kh/1667632821.png" alt="" width="40px"
                    style="height: 22px !important;">
                <a href="" class="text-blue-600 w-max h-max">Все товары бренда Apple</a>
            </div>
            <div class="p-5 pb-24 border-2 translate-x-3 border-gray-200 rounded-xl xl:mr-4 max-xl:absolute max-xl:mt-52"
                style="width: 387px;">
                <p class="text-xl text-gray-500 mb-3">Рассрочка от:</p>
                <h1 class="text-3xl font-bold text-red-600 mb-6">2 002 000 сум / 12 мес.</h1>
                <button class="border-2 rounded-2xl p-4">
                    <img src="https://olcha.uz/image/original/instalment-systems/olcha-logo.svg" alt="" width="89px">
                </button>
                <div class="border-b-2 border-neutral-300 translate-y-5"></div>
                <button
                    class="p-3 px-24 rounded-2xl text-white font-medium text-md bg-red-600 translate-y-16 translate-x-">Купить
                    в рассрочку</button>
            </div>
        </div>
        <div class="border-2 rounded-xl border-neutral-300 p-6 w-max max-xl:hidden">
            <h1 class="text-3xl">Цены ₁</h1>
            <div class="grid justify-around w-max grid-cols-3">
                <div>
                    <h4 class="font-bold text-lg">STP-Group ؆؆</h4>
                    <p class="text-gray-500 w-72">Ташкент, Шайхантахурский район, Малая кольцевая дорога, 61Б</p>
                </div>
                <div>
                    <p class="text-gray-500 w-64">Доставка от 4 часов до 3 дней исходя от адреса доставки</p>
                </div>
                <div class="grid">
                    <h1 class="inline-block text-2xl font-bold">15 484 000 сум</h1>
                    <button
                        class="border-2 w-max border-emerald-500 h-12 bg-emerald-500 p-2.5 px-6 rounded-xl text-white font-medium"><img
                            src="" alt="">Добавить в корзину</button>
                </div>
            </div>
        </div>
        <div class="h-96">
            <h1 class="h-96"></h1>

        </div>
        <div class="-translate-y-72 max-xl:-translate-y-40">
            <h1 class="max-xl:translate-y-96 text-2xl">Описание</h1>
            <p class="text-gray-400 xl:w-6/12 max-xl: max-xl:translate-y-96 font-medium max-sm:w-96">Благодаря новым
                контурным
                краям, новой кнопке действия, мощной модернизации камеры, а также прочному и
                легкому корпусу из титана A17 Pro обеспечивает производительность нового уровня и мобильные игры.
                КУПЕРТИНО, КАЛИФОРНИЯ Сегодня компания Apple представила iPhone 15 Pro и iPhone 15 Pro Max,
                изготовленные из прочного, но легкого аэрокосмического титана и представляющие собой самые легкие модели
                Apple Pro за всю историю. Новый дизайн также имеет контурные края и настраиваемую кнопку действия,
                позволяющую пользователям персонализировать работу с iPhone. Мощные обновления камеры включают в себя
                эквивалент семи профессиональных объективов с выдающимся качеством изображения, включая улучшенную
                48-мегапиксельную систему основной камеры, которая теперь поддерживает новый стандарт сверхвысокой
                четкости с разрешением 24 мегапикселя, портреты нового поколения с контролем фокусировки и глубины, в
                ночное время. улучшения и многое другое. режим Smart HDR и совершенно новая телеобъектив с 5-кратным
                увеличением только на iPhone 15 Pro Max. A17 Pro открывает новый уровень игровых впечатлений и
                профессиональной производительности. Новый разъем USB C поддерживает скорость USB 3 (до 20 раз быстрее,
                чем USB 2) и обеспечивает мощные профессиональные рабочие процессы, которые раньше были невозможны, а
                также новые форматы видео.1 И помощь на дороге через спутник. Благодаря этому линейка iPhone 15 Pro
                развивает Инновационная спутниковая инфраструктура Apple, позволяющая подключать пользователей и
                помогать им при возникновении проблем с автомобилем за пределами сети. iPhone 15 Pro и iPhone 15 Pro Max
                доступны в четырех потрясающих новых цветах: «Черный титан», «Белый титан», «Синий титан» и «Натуральный
                титан».
                «Это самая профессиональная линейка, которую мы когда-либо создавали, с самой передовой титановой
                конструкцией, лучшей системой камер iPhone, которая обеспечивает новые революционные рабочие процессы, и
                революционным процессором A17 Pro. производительность и игры, которых раньше не было на iPhone», —
                сказал Грег Джосвиак, старший вице-президент Apple по международному маркетингу. «iPhone 15 Pro и iPhone
                15 Pro Max — это лучший дизайн Apple и первые в отрасли инновации, которые обогащают повседневную работу
                наших пользователей и раскрывают их творческий потенциал». Доступны размеры дисплея 6,1 и 6,7 дюйма. ,2
                iPhone 15 Pro и iPhone 15 Pro Max имеют прочную и легкую титановую конструкцию — впервые для iPhone.
                Этот высококачественный сплав — тот же, который используется в космических кораблях — имеет одно из
                самых высоких показателей соотношения прочности и веса среди всех металлов, что делает его самой легкой
                линейкой Apple Pro. Обе модели имеют новую тонкую текстуру кисти, контурные края и самые тонкие рамки,
                когда-либо существовавшие на iPhone. Линия Pro сочетает в себе прочность титана с самым прочным задним
                стеклом смартфона и ведущим в отрасли керамическим щитком на передней панели, обеспечивающим
                долговечность. Используя первый в отрасли термомеханический процесс, титановые ленты оборачивают новую
                основу, изготовленную из 100 процентов переработанного алюминия, соединяя два металла с невероятной
                прочностью за счет диффузии в твердом состоянии. Алюминиевая рама помогает рассеивать тепло и позволяет
                легко заменить заднее стекло. Этот новый дизайн подчеркивает дисплей Super Retina XDR с технологиями
                Always-On и ProMotion, обеспечивающими великолепные впечатления от просмотра. Совершенно новая кнопка
                «Действие» заменяет однофункциональный переключатель, используемый для переключения между звонком и
                беззвучным режимом, и предлагает дополнительные опции, поэтому пользователи могут выбрать быстрый доступ
                к камере или вспышке; Включите специальные функции, такие как голосовые заметки, режимы фокусировки,
                переводы и лупу; или используйте вкладки для дополнительных опций. Жест нажатия и удержания с точно
                настроенной тактильной обратной связью и визуальными подсказками на динамическом острове гарантирует,
                что новая кнопка инициирует намеченное действие. Обладая профессиональной производительностью и
                возможностями, iPhone 15 Pro и iPhone 15 Pro Max оснащены первым в отрасли 3-нанометровым чипом A17 Pro.
                Продолжая лидерство Apple в производстве чипов для смартфонов, A17 Pro совершенствует весь чип, включая
                самый крупный дизайн графического процессора в истории Apple. Благодаря улучшениям микроархитектуры и
                дизайна новый процессор работает на 10 процентов быстрее, а Neural Engine — в 2 раза быстрее,
                обеспечивая такие функции, как автозамена и персональный голос в iOS 17. Графические процессоры
                профессионального класса работают до 20 процентов быстрее и их можно разблокировать. совершенно новые
                возможности, включая новую 6-ядерную конструкцию, обеспечивающую максимальную производительность и
                энергоэффективность. Теперь благодаря аппаратно-ускоренной трассировке лучей, которая в 4 раза быстрее,
                чем программная трассировка лучей, iPhone 15 Pro обеспечивает более плавную графику, более захватывающие
                приложения AR и игровой процесс. iPhone 15 Pro дарит пользователям настоящие игры с невиданными ранее
                играми для консолей, такими как Resident Evil Village, Resident Evil 4, Death Stranding и Assassin's
                Creed Mirage.4.
                A17 Pro оснащен специальным декодером AV1, который обеспечивает более эффективное и высококачественное
                видео для потоковых сервисов. Кроме того, новый USB-контроллер впервые обеспечивает на iPhone скорость
                USB 3, которая теперь поддерживает гораздо более высокие скорости передачи данных и вывод видео до 4K со
                скоростью HDR 60 кадров в секунду.
                Благодаря глубокой аппаратной и программной интеграции передовые системы камер на iPhone 15 Pro и iPhone
                15 Pro Max включают в себя эквивалент семи профессиональных объективов — все на базе A17 Pro.
                48-мегапиксельная основная камера, созданная специально для линейки Pro, оснащенная возможностями
                вычислительной фотографии, дает пользователям еще больше гибкости благодаря новой 24-мегапиксельной
                стандартной камере со сверхвысоким разрешением, которая обеспечивает потрясающее качество изображения
                при идеальном размере файла. для хранения и обмена. Основная камера позволяет пользователям
                переключаться между тремя популярными фокусными расстояниями — 24 мм, 28 мм и 35 мм — и даже позволяет
                выбрать одно из них в качестве нового значения по умолчанию. В дополнение к 48-мегапиксельной камере
                ProRAW основная камера также поддерживает 48-мегапиксельные изображения HEIF с в 4 раза большим
                разрешением. iPhone 15 Pro оснащен широкоугольным 3-кратным телеобъективом, а iPhone 15 Pro Max
                предлагает самый длинный оптический зум на iPhone: 5-кратный при 120 мм. Новая телефотокамера на iPhone
                15 Pro Max идеально подходит для съемки крупным планом, дикой природы и съемки с большого расстояния.
                Она оснащена инновационной конструкцией тетрапризмы, встроенной оптической стабилизацией изображения и
                модулем 3D Touch Shift с автофокусировкой — самой совершенной системой стабилизации Apple.
                Портреты нового поколения на iPhone 15 Pro и iPhone 15 Pro Max отличаются более четкой детализацией,
                более яркими цветами и улучшенной производительностью при слабом освещении. Впервые пользователи могут
                делать портреты, не переключаясь в портретный режим. iPhone автоматически фиксирует информацию о
                глубине, когда в кадре находится человек, собака или кошка, или когда пользователь нажимает кнопку
                фокусировки, чтобы впоследствии пользователи могли превращать фотографии в потрясающие портреты в
                приложении «Фото» на iPhone, iPad или Mac. Для более творческого контроля пользователи могут
                регулировать точку фокусировки даже после того, как снимок был сделан.
                Смартфон, который предпочитают творческие профессионалы и кинематографисты, становится еще лучше
                благодаря новым профессиональным рабочим процессам. Теперь пользователи могут увеличить скорость
                передачи данных до 20 раз с помощью дополнительного кабеля USB 3. Сторонние решения, такие как iPhone и
                Capture One, также помогают фотографам создать профессиональную студию, позволяя им снимать изображения
                ProRAW с разрешением 48 МП и мгновенно переносить их с iPhone на Mac. Видео ProRes можно записывать
                непосредственно на внешнее хранилище, что обеспечивает более широкие возможности записи до 4K со
                скоростью 60 кадров в секунду и большую гибкость при использовании iPhone в качестве основной камеры.
                iPhone 15 Pro также представляет новую функцию кодирования журналов и является первым в мире смартфоном,
                поддерживающим ACES, систему кодирования цвета Academy, глобальный стандарт для рабочих процессов с
                цветом.
                Линейка iPhone 15 Pro предлагает новые удобные способы зарядки, поиска друзей в оживленных местах и
                ​​оставаться на связи в дороге. Обе модели используют разъем USB-C, который является общепринятым
                стандартом зарядки и передачи данных, позволяя заряжать iPhone, Mac, iPad и обновленные AirPods Pro
                (2-го поколения) с помощью одного и того же кабеля. Пользователи также могут заряжать свои AirPods или
                Apple Watch непосредственно со своего iPhone через разъем USB-C. iPhone 15 Pro и iPhone 15 Pro Max
                поддерживают USB 3 для передачи данных со скоростью до 10 гигабит в секунду, что в 20 раз быстрее, чем
                раньше. Серия iPhone 15 предлагает важные функции безопасности, которые помогут в самых критических
                ситуациях, включая обнаружение аварий7 и экстренную помощь через спутник.8 Технология Satellite
                Emergency Service, доступная в настоящее время в 14 странах и регионах на трех континентах, оказала
                значительное влияние на жизнь людей. пользователей. . Позднее в этом месяце эта инновационная услуга
                появится в Испании и Швейцарии.
                Благодаря инновационной спутниковой инфраструктуре iPhone 15 Pro и iPhone 15 Pro Max обеспечивают помощь
                на дороге через спутник. Начиная с США, когда у пользователя возникают проблемы с автомобилем и ему не
                хватает сотовой сети или Wi-Fi, он теперь может подключиться к AAA, крупнейшему в стране поставщику
                помощи на дороге. Интуитивный интерфейс, включающий приложение, передает информацию через спутник,
                поэтому AAA может сообщите пользователю напрямую и отправьте помощь по его точному местоположению.
                Спутниковая помощь на дороге включена бесплатно в течение двух лет. На эту услугу распространяется
                членство AAA, но она доступна отдельно для лиц, не являющихся членами.
                На iPhone 15 Pro и iPhone 15 Pro Max установлена ​​iOS 17.11, что делает iPhone более
                персонализированным и интуитивно понятным благодаря новым функциям:
                Приложение «Телефон» получает серьезные обновления: плакаты с контактами, которые позволяют
                пользователям настраивать внешний вид в своих контактах, и Live Voicemail, который использует
                возможности A17 Pro для просмотра транскрипции на устройстве в реальном времени, когда кто-то оставляет
                голосовое сообщение. Пользователи могут ответить на звонок, даже когда звонящий оставляет свое
                сообщение.
                В «Сообщениях» появятся новые стикеры, более мощный поиск, транскрипция аудиосообщений и регистрация,
                которая позволит пользователям автоматически уведомлять друзей и родственников, когда они благополучно
                прибудут в пункт назначения.
                NameDrop дает пользователям новый способ использовать AirDrop для подключения двух устройств iPhone и
                более удобного обмена контактной информацией. Тот же жест можно использовать для контента AirDrop и
                многого другого, и теперь пользователи могут отойти друг от друга, чтобы завершить отправку больших
                файлов через Интернет.12
                Режим ожидания предоставляет пользователям настраиваемый полноэкранный режим с видимой информацией,
                предназначенной для удаленного просмотра, пока iPhone находится на боку и заряжается. Благодаря функции
                Always On Display на iPhone 15 Pro и iPhone 15 Pro Max режим ожидания остается включенным для
                отображения полезной информации, что идеально подходит для письменного стола, тумбочки или кухонной
                стойки.
                Интерактивные виджеты на главном экране, экране блокировки и в режиме ожидания позволяют пользователям
                перемещаться одним щелчком мыши, что упрощает выполнение задачи, воспроизведение или приостановку песни
                с помощью виджета.
                Safari добавляет дополнительную защиту для частного просмотра и предоставляет профили, которые помогают
                пользователям разделить просмотр по таким темам, как работа и личное.
                iOS 17 содержит множество обновлений, в том числе Journal13, новое приложение, которое помогает
                пользователям iPhone практиковать ведение журнала, улучшать автозамену и диктовку, делать ввод текста
                быстрее и проще, чем когда-либо, делиться паролями и связками ключей с помощью iCloud Keychain, выражать
                благодарность и многое другое. iPhone 15 Pro и iPhone 15 Pro Max созданы с учетом защиты окружающей
                среды. Поскольку Apple продолжает работать над тем, чтобы к 2030 году сделать каждый продукт
                углеродно-нейтральным — от проектирования до производства и потребительского использования — компания
                уделяет приоритетное внимание чистой электроэнергии во всей своей цепочке поставок и переработки и
                разрабатывает продукты с использованием других низкоуглеродных материалов. В iPhone 15 Pro и iPhone 15
                Pro Max теперь используется больше переработанного контента: корпус из 100 процентного переработанного
                алюминия и батарея из 100 процентного переработанного кобальта — впервые для Apple. iPhone 15 Pro и
                iPhone 15 Pro Max также включают 100-процентно переработанные редкоземельные элементы во всех магнитах и
                ​​100-процентно переработанное золото в разъеме USB-C, а также золочение и оловянную пайку на нескольких
                печатных платах. Обе модели соответствуют высоким стандартам энергоэффективности Apple и не содержат
                ртути, ПВХ и бериллия. Более 99 процентов ее упаковки изготовлено из волокон, что приближает Apple к
                цели по исключению пластика из упаковки к 2025 году.
                Чтобы еще больше снизить воздействие на планету, Apple больше не использует кожу в новых продуктах
                Apple, включая аксессуары для iPhone. Apple представляет новый чехол FineWoven Case с MagSafe и кошелек
                FineWoven с MagSafe, изготовленные из прочной и элегантной микрофибры, мягкой на ощупь, напоминающей
                замшу. Материал на 68 процентов состоит из переработанных материалов и имеет гораздо меньший углеродный
                след, чем кожа.</p>
        </div>
        <!--         
        <div class="grid gap-5 max-xl:hidden xl:block">
            <h1 class="text-2xl">Характеристики</h1>
            <h1 class="text-md font-bold">Общие характеристики смартфона</h1>
            <div class="grid gap-3 mb-2">
                <div class="w-max">
                    <h5 class="text-neutral-400 inline">
                        Размеры............................................................................................
                    </h5>
                    <h5 class="inline">146.6x70.6x8.25 мм</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">Версия
                        ОС.........................................................................................
                    </h5>
                    <h5 class="inline">iOS 17</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Цвет.....................................................................................................
                    </h5>
                    <h5 class="inline">Natural titanium</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Цвет.....................................................................................................
                    </h5>
                    <h5 class="inline">Blue titanium</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Цвет.....................................................................................................
                    </h5>
                    <h5 class="inline">White titanium</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">Датчик Face
                        ID................................................................................
                    </h5>
                    <h5 class="inline">Есть</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Цвет.....................................................................................................
                    </h5>
                    <h5 class="inline">Black titanium</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Влагозащита....................................................................................
                    </h5>
                    <h5 class="inline">Есть, IP68</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Вес.......................................................................................................
                    </h5>
                    <h5 class="inline">187 г</h5>
                </div>
            </div>
            <h1>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
            </h1>
            <h1 class="text-2xl">Связь</h1>
            <div class="grid gap-3 mb-2">
                <div class="w-max">
                    <h5 class="text-neutral-400 inline">
                        NFS.......................................................................................................
                    </h5>
                    <h5 class="inline">Есть</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">Bluetooth
                        ОС....................................................................................
                    </h5>
                    <h5 class="inline">5.3</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        GPS.......................................................................................................
                    </h5>
                    <h5 class="inline">GPS, ГЛОНАСС, BEIDOU, GALILEO, QZSS</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Wi-Fi.....................................................................................................
                    </h5>
                    <h5 class="inline">Wi-Fi 802.11ax</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Слот сим-карты..............................................................................
                    </h5>
                    <h5 class="inline">* Регистрованы только физические слоты сим-карты</h5>
                </div>
            </div>
            <h1 class="text-2xl">Память и процессор смартфона</h1>
            <div class="grid gap-3 mb-2">
                <div class="w-max">
                    <h5 class="text-neutral-400 inline">
                        Объем встроенной памяти......................................................
                    </h5>
                    <h5 class="inline">1 TB</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">Процессор
                        ОС................................................................................
                    </h5>
                    <h5 class="inline">Apple A17 Pro</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Объем встроенной памяти.....................................................
                    </h5>
                    <h5 class="inline">128GB</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Слот для карт памяти.................................................................
                    </h5>
                    <h5 class="inline">Нет</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Объем встроенной памяти.....................................................
                    </h5>
                    <h5 class="inline">512 GB</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Объем встроенной памяти.....................................................
                    </h5>
                    <h5 class="inline">256GB</h5>
                </div>
            </div>
            <h1 class="text-2xl">Питание</h1>
            <div class="grid gap-3 mb-2">
                <div class="w-max">
                    <h5 class="text-neutral-400 inline">
                        Функция беспроводной зарядки..........................................
                    </h5>
                    <h5 class="inline">MagSafe wireless charging 15W / Qi magnetic fast wireless charging 7.5W</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">Функция быстрой зарядки
                        ОС...............................................
                    </h5>
                    <h5 class="inline">Быстрая зарядка аккумулятора: 50% за 30 мин.</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Во время прослушивания музыки.......................................
                    </h5>
                    <h5 class="inline">75 ч.</h5>
                </div>
            </div>
            <h1 class="text-2xl">Камера смартфона</h1>
            <div class="grid gap-3 mb-2">
                <div class="w-max">
                    <h5 class="text-neutral-400 inline">
                        Основная камера.........................................................................
                    </h5>
                    <h5 class="inline">48MP + 12MP + 12MP</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">Автофокус
                        ОС................................................................................
                    </h5>
                    <h5 class="inline">Есть</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Фронтальная камера..................................................................
                    </h5>
                    <h5 class="inline">24 MP</h5>
                </div>
            </div>
            <h1 class="text-2xl">Дисплей смартфона</h1>
            <div class="grid gap-3 mb-2">
                <div class="w-max">
                    <h5 class="text-neutral-400 inline">
                        Тип дисплея....................................................................................
                    </h5>
                    <h5 class="inline">Super Retina XDR OLED</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">Разрешениe экрана
                        ОС.............................................................
                    </h5>
                    <h5 class="inline">2556 x 1179</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Диагональ........................................................................................
                    </h5>
                    <h5 class="inline">6.1''</h5>
                </div>
            </div>
        </div> -->
        <div class="gap-5 max-xl:translate-y-96 xl:-translate-y-56">
            <h1 class="text-2xl">Характеристики</h1>
            <h1 class="text-md font-bold">Общие характеристики смартфона</h1>
            <div class="grid gap-3 mb-2">
                <div class="w-max">
                    <h5 class="text-neutral-400 inline">
                        Размеры...............................................
                    </h5>
                    <h5 class="inline">146.6x70.6x8.25 мм</h5>
                </div>
                </h1>
                <div>
                    <h5 class="text-neutral-400 inline">Версия
                        ОС............................................
                    </h5>
                    <h5 class="inline">iOS 17</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Цвет........................................................
                    </h5>
                    <h5 class="inline">Natural titanium</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Цвет........................................................
                    </h5>
                    <h5 class="inline">Blue titanium</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Цвет........................................................
                    </h5>
                    <h5 class="inline">White titanium</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">Датчик Face
                        ID...................................
                    </h5>
                    <h5 class="inline">Есть</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Цвет........................................................
                    </h5>
                    <h5 class="inline">Black titanium</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Влагозащита.......................................
                    </h5>
                    <h5 class="inline">Есть, IP68</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Вес..........................................................
                    </h5>
                    <h5 class="inline">187 г</h5>
                </div>
            </div>
            <h1 class="text-2xl">Связь</h1>
            <div class="grid gap-3 mb-2">
                <div class="w-max">
                    <h5 class="text-neutral-400 inline">
                        NFS..........................................................
                    </h5>
                    <h5 class="inline">Есть</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">Bluetooth
                        ОС.......................................
                    </h5>
                    <h5 class="inline">5.3</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        GPS..........................................................
                    </h5>
                    <h5 class="inline">GPS, ГЛОНАСС,..</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Wi-Fi........................................................
                    </h5>
                    <h5 class="inline">Wi-Fi 802.11ax</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Слот сим-карты.................................
                    </h5>
                    <h5 class="inline">* Регистрованы только...</h5>
                </div>
            </div>
            <h1 class="text-2xl">Память и процессор смартфона</h1>
            <div class="grid gap-3 mb-2">
                <div class="w-max">
                    <h5 class="text-neutral-400 inline">
                        Объем встроенной памяти.........
                    </h5>
                    <h5 class="inline">1 TB</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">Процессор
                        ОС...................................
                    </h5>
                    <h5 class="inline">Apple A17 Pro</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Объем встроенной памяти.........
                    </h5>
                    <h5 class="inline">128GB</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Слот для карт памяти......................
                    </h5>
                    <h5 class="inline">Нет</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Объем встроенной памяти..........
                    </h5>
                    <h5 class="inline">512 GB</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Объем встроенной памяти..........
                    </h5>
                    <h5 class="inline">256GB</h5>
                </div>
            </div>
            <h1 class="text-2xl">Питание</h1>
            <div class="grid gap-3 mb-2">
                <div class="w-max">
                    <h5 class="text-neutral-400 inline">
                        Функция беспроводной зарядки.......
                    </h5>
                    <h5 class="inline">MagSafe wireless...</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">Функция быстрой зарядки
                        ОС............
                    </h5>
                    <h5 class="inline">Быстрая зарядка...</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Во время прослушивания музыки....
                    </h5>
                    <h5 class="inline">75 ч.</h5>
                </div>
            </div>
            <h1 class="text-2xl">Камера смартфона</h1>
            <div class="grid gap-3 mb-2">
                <div class="w-max">
                    <h5 class="text-neutral-400 inline">
                        Основная камера............................
                    </h5>
                    <h5 class="inline">48MP + 12MP + 12MP</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">Автофокус
                        ОС...................................
                    </h5>
                    <h5 class="inline">Есть</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Фронтальная камера.....................
                    </h5>
                    <h5 class="inline">24 MP</h5>
                </div>
            </div>
            <h1 class="text-2xl">Дисплей смартфона</h1>
            <div class="grid gap-3 mb-2">
                <div class="w-max">
                    <h5 class="text-neutral-400 inline">
                        Тип дисплея.......................................
                    </h5>
                    <h5 class="inline">Super Retina XDR OLED</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">Разрешениe экрана
                        ОС................
                    </h5>
                    <h5 class="inline">2556 x 1179</h5>
                </div>
                <div>
                    <h5 class="text-neutral-400 inline">
                        Диагональ...........................................
                    </h5>
                    <h5 class="inline">6.1''</h5>
                </div>
            </div>
        </div>






        <div class="grid gap-4 max-xl:translate-y-96" style="margin-top: 100px;">
            <div class="xl:grid xl:grid-cols-2 w-max gap-5 ">
                <h1 class="text-3xl font-medium">Отзывы о товаре <button
                        class="bg-red-600 px-1 text-sm rounded-sm text-white">0</button></h1>
                <h1 class="text-3xl text-gray-400 font-medium">Вопросы о товаре <button
                        class="bg-red-600 px-1 text-sm rounded-sm text-white">1</button></h1>
            </div>
            <div class="xl:grid xl:grid-cols-2">
                <div>
                    <h1 class="text-xl font-medium">Отзывов пока нет, но ваш может стать первым</h1>
                    <h1 class="text-xl font-medium text-gray-300">Поделитесь мнением о покупке и помогите другим
                        покупателям сделать выбор</h1>
                </div>
                <div class="border-gray-400 w-max border-2 p-4 rounded-xl inline-block xl:ml-36 xl:translate-x-40">
                    <div class="flex justify-between">
                        <h1 style="font-family: Raleway, sans-serif;" class="text-5xl">0</h1>
                        <img src="../src/img/card-description/Screenshot_4.png" alt="" width="95px"
                            style="height: 30px;" class="translate-y-2.5">
                    </div>
                    <button class="border-2 bg-red-600 h-12 p-2.5 px-20 rounded-xl block text-white font-medium"><img
                            src="" alt="">Оставить отзыв</button>
                    <p class="border-dashed border-b-2 text-gray-500 border-gray-500 inline-block"
                        style="margin-left: 8vw; margin-top: 8px;">Правила публикации</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>