<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/output.css">
    <title>Hello</title>
</head>

<body class="m-0 pt-20 pb-56 ">
    <div class="pl-14">
        <div>
            <h1 class="text-5xl font-medium">Apple iPhone 15 Pro</h1>
            <div>
                <div class="translate-y-7">
                    <img src="../src/img/card-description/logo/Screenshot_3.png" alt="" class="inline-block">
                    <h4 class="inline-block">0 отзывов</h4>
                </div>
                <div class="text-right">
                    <div class="inline-block">
                        <img src="../src/img/card-description/logo/Screenshot_4.png" alt="" class="inline-block"
                            width="26px">
                        <h5 class="md:inline-block hidden  text-red-600">Добавить в сравнение</h5>
                    </div>
                    <div class="inline-block">
                        <img src="../src/img/card-description/logo/Screenshot_1.png" alt="" class="inline-block"
                            width="26px">
                        <h5 class="md:inline-block hidden text-red-600">Добавить в избранное</h5>
                    </div>
                    <div class="inline-block">
                        <img src="../src/img/card-description/logo/Screenshot_2.png" alt="" class="inline-block"
                            width="26px">
                        <h5 class="md:inline-block hidden text-red-600">Поделиться</h5>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="grid md:grid-cols-2">
                <div class="">
                    <div class="">
                        <img src="https://olcha.uz/image/700x700/products/Cjg3V5nm4mBivJC9davhVhYWJBhcreltBb7OOuLX8ol5KM5TsUNUUEA6j9sK.jpg"
                            alt="" width="466px">
                    </div>
                    <button class="translate-x-40">
                        <img src="../src/img/card-description/logo/Screenshot_5.png" alt="" width="42px"
                            class="inline-block">
                        <h4 class="inline-block text-red-600">Смотреть видео</h4>
                    </button>
                </div>
                <div class="xl:-translate-x-52 grid gap-5">
                    <div class="gap-3.5 grid">
                        <h3 class="text-neutral-400">Объем встроенной памяти:</h3>
                        <div>
                            <button class="border-2 p-1.5 px-3 rounded-lg border-black">
                                128 GB
                            </button>
                            <button class="border-2 p-1.5 px-3 rounded-lg border-black">
                                256 GB
                            </button>
                            <button class="border-2 p-1.5 px-3 rounded-lg border-black">
                                512 GB
                            </button>
                            <button class="border-2 p-1.5 px-4 rounded-lg border-black">
                                1 TB
                            </button>
                        </div>
                    </div>
                    <div>
                        <h3 class="text-neutral-400">Цвет:</h3>
                        <div class="flex gap-2">
                            <div class="border-2 rounded-md p-1 border-black">
                                <img src="https://olcha.uz/image/70x70/products/supplier/stores/1/2023-09-13/x64fGyf3Aku67gaS9EVsT8XpdZNd53Au8IoA2ofqjovCBFtklyrWcREzas4n.jpg"
                                    alt="">
                            </div>
                            <div class="border-2 rounded-md p-1 border-black">
                                <img src="https://olcha.uz/image/70x70/products/supplier/stores/1/2023-09-13/EHb7QGeQvaRB4R4HwI1BJFF14LXoFRBAPfBD6Zjl0HeJnbTRxmcupZOPNF22.jpg"
                                    alt="">
                            </div>
                            <div class="border-2 rounded-md p-1 border-black">
                                <img src="https://olcha.uz/image/70x70/products/supplier/stores/1/2023-09-13/MK7ZY7kkRFqPL2DvquUALFBtm7bBdVSCyX76Wp3iZu9mfpcOCgf4SLN1rnZZ.jpg"
                                    alt="">
                            </div>
                            <div class="border-2 rounded-md p-1 border-black">
                                <img src="https://olcha.uz/image/70x70/products/supplier/stores/1/2023-09-13/r5rWorFXae6kEzgxMYznEwFRoBxpxZ93aPv6ib2jUWPQ4KfPjwqt3GSZNYt5.jpg   "
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <div class="grid gap-3 mb-2">
                        <div>
                            <h5 class="text-neutral-400 inline">
                                Размеры..................................................................
                            </h5>
                            <h5 class="inline">146.6x70.6x8.25 мм</h5>
                        </div>
                        <div>
                            <h5 class="text-neutral-400 inline">Версия
                                ОС...............................................................
                            </h5>
                            <h5 class="inline">iOS 17</h5>
                        </div>
                        <div>
                            <h5 class="text-neutral-400 inline">
                                Цвет...........................................................................
                            </h5>
                            <h5 class="inline">Natural titanium</h5>
                        </div>
                        <div>
                            <h5 class="text-neutral-400 inline">
                                Цвет...........................................................................
                            </h5>
                            <h5 class="inline">Blue titanium</h5>
                        </div>
                        <div>
                            <h5 class="text-neutral-400 inline">
                                Цвет...........................................................................
                            </h5>
                            <h5 class="inline">White titanium</h5>
                        </div>
                        <div>
                            <h5 class="text-neutral-400 inline">Датчик Face
                                ID......................................................
                            </h5>
                            <h5 class="inline">Есть</h5>
                        </div>
                        <div>
                            <h5 class="text-neutral-400 inline">
                                Цвет...........................................................................
                            </h5>
                            <h5 class="inline">Black titanium</h5>
                        </div>
                        <div>
                            <h5 class="text-neutral-400 inline">
                                Влагозащита..........................................................
                            </h5>
                            <h5 class="inline">Есть, IP68</h5>
                        </div>
                        <div>
                            <h5 class="text-neutral-400 inline">
                                Вес.............................................................................
                            </h5>
                            <h5 class="inline">187 г</h5>
                        </div>
                    </div>
                    <a href="#" class="text-blue-600">Смотреть все характеристики</a>
                </div>
            </div>
            <div class="border-8 w-max p-5 pl-8 grid" style="width: 387px; height: 496px;">
                <div class="grid">
                    <h1 class="inline-block text-2xl font-bold">15 484 000 сум</h1>
                    <div class="grid grid-cols-2">
                        <p class="text-neutral-400 w-max">Информация о доставке:</p>
                        <img src="../src/img/card-description/logo/info.png" alt="" width="24px" class="translate-x-32">
                    </div>
                </div>
                <div>
                    <img src="https://olcha.uz/_nuxt/icon-truck.12926646.svg" alt=""
                        class="inline-block -translate-y-7">
                    <div class="inline-block translate-y-3">
                        <p class="font-medium text-xl leading-5">Стандартная доставка</p>
                        <p class="leading-5">Доставка от 4 часов до 3 дней исходя<br> от адреса доставки</p>
                    </div>
                </div>
                <div class="border-b-2 border-neutral-400 -translate-y-7"></div>
                <button
                    class="border-2 border-emerald-500 h-12 bg-emerald-500 p-2.5 px-20 rounded-xl text-white font-medium"><img
                        src="" alt="">Добавить в корзину</button>
                <button class="border-2 border-black p-2.5 px-20 h-12 rounded-xl -mt-8 font-medium">Купить в Oдин клик.</button>

                <div>
                    <h4>STP-Group ؆</h4>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
