<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/output.css">
    <title>Document</title>
</head>
<body>
    ​‌‌‌<!-- ⁡⁣⁢⁢Корзина⁡ -->​
    <div class="h-96" >
        <div class="text-center ">
            <img class=" w-20 inline-block " src="https://olcha.uz/_nuxt/cart.de8a9297.png" alt="">
        </div>
        <div class="text-center">
            <h1 class="text-4xl font-bold tracking-widest">Корзина пуста</h1>
            <p class="m-5">Но вы всегда можете ее наполнить</p>
            <button class="bg-red-600 text-white w-36 h-12 rounded-xl hover:bg-red-700 ">На главную</button>
        </div>
    </div>
</body>
</html>