<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/output.css">
    <title>Olcha - Интернет магазин</title>
</head>
<body>
    ​‌‌‌<!-- ⁡⁢⁣⁢Избранные⁡ -->​
    <div class="h-96" >
        <div class="pl-10">
            <h1 class="text-3xl font-bold">Избранные товары</h1>
        </div>
        <div class="text-center">
            <img class="inline-block" src="https://olcha.uz/_nuxt/empty-img.3a4aef3b.png" alt="">
            <h1 class="text-3xl font-bold">Нет избранных товаров</h1>
        </div>
    </div>
</body>
</html>