<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/output.css">
    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <title>Document</title>
</head>
<body>
    ​‌‌‌<!-- ⁡⁢⁢⁢Войти⁡ -->​
    <div class=" flex justify-center">
        <div class="w-96 h-80 rounded-2xl p-8 bg-white border-2 border-black border-solid max-sm:w-80  ">
            <div class="flex ">
                <div>
                    <h1 class="text-2xl font-bold">Войти или создать профиль</h1>
                </div>
                <i class="bi bi-x text-4xl relative bottom-5 left-3" ></i>
            </div>
            <div class="mt-6">
                <label class="opacity-50" for="">Номер телефона</label><br>
                <input class="w-80 h-11 rounded-xl border-2 border-black border-solid mt-2 max-sm:w-64" type="number" placeholder="+998">
            </div>
            <div>   
                <button class="w-80 h-11 bg-red-400 rounded-xl mt-10 text-white max-sm:w-64">Подтвердить</button>
            </div>
        </div>
    </div>
    
</body>
</html>