<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рассрочка</title>
</head>
<body>
    <section class="flex">
        <div class="pl-10 p-10 w-50">
            <h1 class="text-5xl">Рассрочка</h1>
            <div class="px-5 py-2.5 flex flex-col gap-[20px]">
                <div class="relative">
                    <button
                        class="text-xl font-medium rounded-lg text-sm text-start flex justify-between w-[100%]"
                        type="button" id="dropdownDefaultButton">
                        Смартфоны, телефоны, гаджеты, аксессуары
                        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 10 6" transform="scale(2)">
                            <path stroke="red" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4" />
                        </svg>
                    </button>

                    <div class="absolute right-0 top-[30px] mt-2 w-56 border rounded-lg shadow-lg hidden">
                        <ul>
                            <li><a href="#"
                                    class="block px-4 py-2 text-sm text-gray-700 ">Смартфоны</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="relative">
                    <button
                        class="text-xl font-medium rounded-lg text-sm text-start flex justify-between w-[100%]"
                        type="button" id="dropdownDefaultButton2">
                        Подарки и сувениры
                        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 10 6" transform="scale(2)">
                            <path stroke="red" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4" />
                        </svg>
                    </button>
                    <div class="absolute right-0 top-[24px] mt-2 w-56 bg-white border rounded-lg shadow-lg hidden">
                        <ul>
                            <li><a href="#"
                                    class="block px-4 py-2 text-sm text-gray-700 ">Религиозные
                                    и исламские подарки</a></li>
                        </ul>
                    </div>
                </div>
                <div class="text-xl">Цена, сум</div>
            </div>
        </div>

        <div class="row w-75 flex flex-wrap justify-end p-25 pr-10 g-5 pt-10">
            <div class="">
                <img class="rounded-4"
                    src="https://olcha.uz/image/266x266/products/supplier/stores/1/2023-11-27/zKauPmivaalBl51sTGZ4ZXMS4D7u96Xk9BPbdjr5ObpbDixrWmyRMGLivL6t.jpg"
                    alt="">
                <div>Honor X7b Deep black 8/128 GB</div>
                <div class="text-lg mt-5 justify-center ">2 550 000 сум</div>
                <div class="text-xs bg-yellow-300 w-32 h-5 rounded text-center">425 000 сум x 6 мес</div>
                <div class="flex mt-2 pt-5">
                    <button><img class="w-10 h-10 rounded-lg border border-2 border-black p-2" src="./savat.png"
                            alt=""></button>
                    <button
                        class="text-rose-700 w-40 pb-2 h-10 ml-2 border border-rose-700 border-2 rounded-lg p-1 border-start-32">В
                        рассрочку</button>
                </div>
            </div>

            <div class="col ">
                <img src="https://olcha.uz/image/266x266/products/supplier/stores/1/2023-11-27/xPsiIrVxdNrpQanuUB30hVHafmgjJQML7AT3oNrfO4CNy5OA4tTji0CTaGZE.jpg"
                    alt="">
                <div>Honor X7b Shimmering silver 8/128 GB</div>
                <div class="text-lg mt-5 justify-center ">2 550 000 сум</div>
                <div class="text-xs bg-yellow-300 w-32 h-5 rounded text-center">425 000 сум x 6 мес</div>
                <div class="flex mt-2 pt-5">
                    <button><img class="w-10 h-10 rounded-lg border border-2 border-black p-2" src="./savat.png"
                            alt=""></button>
                    <button
                        class="text-rose-700 w-40 pb-2 h-10 ml-2 border border-rose-700 border-2 rounded-lg p-1 border-start-32">В
                        рассрочку</button>
                </div>
            </div>

            <div class="col ">
                <img class=" "
                    src="https://olcha.uz/image/266x266/products/supplier/stores/1/2023-11-27/MvJ7NTTMbUfAGFz5Np1RbCm1vZnhpOGKCHSvt8pjTlHTG27cmd8ZXv2ANRqU.jpg"
                    alt="">
                <div>Honor X7b Emerald Green 8/128 GB</div>
                <div class="text-lg mt-5 justify-center ">2 550 000 сум</div>
                <div class="text-xs bg-yellow-300 w-32 h-5 rounded text-center">425 000 сум x 6 мес</div>
                <div class="flex mt-2 pt-5">
                    <button><img class="w-10 h-10 rounded-lg border border-2 border-black p-2" src="./savat.png"
                            alt=""></button>
                    <button
                        class="text-rose-700 w-40 pb-2 h-10 ml-2 border border-rose-700 border-2 rounded-lg p-1 border-start-32">В
                        рассрочку</button>
                </div>
            </div>

            <div class="col ">
                <img src="https://olcha.uz/image/266x266/products/supplier/stores/1/2024-02-11/EVFl4kRDy647wlfqPL4BZ4UD38ZC5p39CqlKigmU31o8z6px36ays3j2OYoa.jpg"
                    alt="">
                <div>Honor X7b 8/128 GB</div>
                <div class="text-lg mt-5 justify-center ">2 550 000 сум</div>
                <div class="text-xs bg-yellow-300 w-32 h-5 rounded text-center">425 000 сум x 6 мес</div>
                <div class="flex mt-2 pt-5">
                    <button><img class="w-10 h-10 rounded-lg border border-2 border-black p-2" src="./savat.png"
                            alt=""></button>
                    <button
                        class="text-rose-700 w-40 pb-2 h-10 ml-2 border border-rose-700 border-2 rounded-lg p-1 border-start-32">В
                        рассрочку</button>
                </div>
            </div>
            <div id="dropdown"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                    <li>
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign
                            out</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <img src="https://olcha.uz/image/266x266/products/supplier/stores/1/2023-07-19/FJcmqymppJIasagRGZLnUcSQDPFVNZK8f8XFAZT3a2kA0d38axVRwrVaLZXB.jpg" alt="">
            </div>


            <div class="col">
                <img src="https://olcha.uz/image/266x266/products/supplier/stores/1/2023-07-19/FiZPMXLyeSI5FJkOBrSti8wHBqt0THGGAcgEi8cZ5PoLrbOYsWKv2qToEM7O.jpg" alt="">
            </div>

            <div class="col">
                <img src="https://olcha.uz/image/266x266/products/supplier/stores/1/2023-07-19/FiZPMXLyeSI5FJkOBrSti8wHBqt0THGGAcgEi8cZ5PoLrbOYsWKv2qToEM7O.jpg" alt="">
            </div>
        </div>
        
        <div class="col">
            <img src="https://olcha.uz/image/266x266/products/supplier/stores/1/2023-07-19/iq8sZhf5IXaDCZtRPkt9Y0yL3aQPmH7X61v1IZdU5ZhZpZkV6DZviX0YS3LR.jpg" alt="">
        </div>

        <div class="col">
            <img src="https://olcha.uz/image/266x266/products/d7GYruSQjjUDR0t687i8fS5J2MmlHcmhXTt0X3lOvTLCXeRlcT0GWXLzRW4j.jpg" alt="">
        </div>

        <div class="col">
            <img src="https://olcha.uz/image/266x266/products/supplier/stores/1/2023-06-25/rU7H0YmqeQJlVTwP8pD97qVIahCJyTsjie1ZIgUagZXlyB8YFvJejjpIb1BW.jpg" alt="">
        </div>

        <div class="col">
            <img src="https://olcha.uz/image/266x266/products/P9LHiQNr9mYbbQrI9cQ2sGUP4IaEwxpBGdGNAJvVjCrWTHW3vVxI3H6mswIO.jpg" alt="">
        </div>

        <div class="col">
            <img src="https://olcha.uz/image/266x266/products/LYVQICB3UQY7Q5bzCxiJE3xW4fMe17QsZPX3oG4rX57sYhcPOCTw2bAUaNe4.jpg" alt="">
        </div>

        <div class="col">
            <img src="https://olcha.uz/image/266x266/products/supplier/stores/1/2023-04-11/1VXbCH7l6wAiEIMeNukc20vHMYIsf67lteqdI8Xoc9uYTbHzxzBkkmP3Ku1E.jpg" alt="">
        </div>
    </section>
</body>
<script>
    // Dropdownlarni tanlash
    const dropdownButtons = document.querySelectorAll('[id^="dropdownDefaultButton"]');

    // Har bir button uchun hodisani qo'shish
dropdownButtons.forEach(button => {
    button.addEventListener('click', () => {
        // Dropdown menyuning id sini aniqlash
        const dropdownId = button.getAttribute('id');
        // Dropdown menyuning elementini topish
        const dropdownMenu = document.querySelector(`#${dropdownId} + .absolute`);

        // Menyu ochilish va yopilishini belgilash
        dropdownMenu.classList.toggle('hidden');

        // SVGni tanlash
        const arrowIcon = button.querySelector('svg');

        // SVGni teskari qilish
        arrowIcon.style.transform = dropdownMenu.classList.contains('hidden') ? 'scaleY(2)' : 'scaleY(-2)';

        // Boshqa dropdown menyu elementlarini yopish
        dropdownButtons.forEach(btn => {
            if (btn !== button) {
                const otherDropdownId = btn.getAttribute('id');
                const otherDropdownMenu = document.querySelector(`#${otherDropdownId} + .absolute`);
                otherDropdownMenu.classList.add('hidden');

                // Boshqa tugma bosilganda SVGni asl holatiga qaytarish
                const otherArrowIcon = btn.querySelector('svg');
                otherArrowIcon.style.transform = 'scaleY(2)';
            }
        });

        button.addEventListener('click', () => {
            // Dropdown menyuning id sini aniqlash
            const dropdownId = button.getAttribute('id');
            // Dropdown menyuning elementini topish
            const dropdownMenu = document.querySelector(`#${dropdownId} + .absolute`);

            // Menyu ochilish va yopilishini belgilash
            dropdownMenu.classList.toggle('hidden');

            // Boshqa dropdown menyu elementlarini yopish
            dropdownButtons.forEach(btn => {
                if (btn !== button) {
                    const otherDropdownId = btn.getAttribute('id');
                    const otherDropdownMenu = document.querySelector(`#${otherDropdownId} + .absolute`);
                    otherDropdownMenu.classList.add('hidden');
                }
            });
        });
    });

    });

    // Qaysi sahifa elementida boshqarish
    document.addEventListener('click', (e) => {
        dropdownButtons.forEach(button => {
            if (!button.contains(e.target)) {
                const dropdownId = button.getAttribute('id');
                const dropdownMenu = document.querySelector(`#${dropdownId} + .absolute`);
                dropdownMenu.classList.add('hidden');
            }
        });
    });
</script>

</body>
</html>