<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section>
            <div class="flex gap-5 p-5">
                <div class="">
                    <h3 class="text-2xl font-black text-red-600">SHIVAKI</h3>
                </div>
                <div class="w-2/4">
                    <h1 class="text-5xl">Товары бренда Shivaki Телевизоры - Страница - 2</h1>
                </div>
            </div>
        </section>
        <section>
            <div class="">
                <div>
                    <h2>Бестселлеры</h2>
                </div>
                <div class="flex gap-5 p-10">
                    <div>
                        <div class="relative pb-3">
                            <a class="" href="./components/card-description.html">
                                <img class=" sm:w-52 w-52 lg:w-52 p-5" src="./img/televizor-shivaki-s32kh5000-158830-0.jpeg"alt="">
                                <div class="w-36 md:w-52 h-52">
                                    <div class="hover:text-red-600 text-sm md:text-md lg:text-lg xl:text-lg">Телевизор Shivaki US32H3203</div>
                                    <br>
                                    <del class="text-gray-400 py-1 text-sm">2 335 000 сум</del>
                                    <p class="text-red-600 font-bold text-md md:text-md lg:text-lg xl:text-lg py-1">2 013 000 сум</p>
                                    <mark class="rounded-md px-2 py-1 text-xs font-medium">268 000 сум x 12 мес</mark>
                                    <div class="flex gap-2">
                                        <div class="border-2 border-black w-8 h-8 lg:w-10 lg:h-10 text-center rounded-md mt-10 hover:bg-gray-50">
                                            <i class="bi bi-cart2 text-lg lg:text-2xl"></i>
                                        </div>
                                        <div class="border-2 border-red-600 text-red-600 w-26  md:w-32 lg:w-42 xl:w-44 lg:pt-1 text-center rounded-md mt-10 text-md hover:bg-red-50 md:text-md lg:text-lg xl:text-lg">
                                            В рассрочку
                                        </div>
                                    </div>
                                    <div class="bg-red-600 w-12 px-1 text-white rounded-md absolute top-1">
                                        -10%
                                    </div>
                                    <div class="absolute top-1 right-0 grid gap-3">
                                        <div class="p-2 rounded-full w-10 text-center bg-white">
                                            <i class="bi bi-heart text-xl"></i>
                                        </div>
                                        <div class="p-2 bg-white text-gray-100 rounded-full w-10 text-center">
                                            <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 10h3v10H1V10zM6 0h3v20H6V0zm5 8h3v12h-3V8zm5-4h3v16h-3V4z"/></svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="relative pb-3">
                            <a class="" href="./components/card-description.html">
                                <img class=" sm:w-52 w-36 lg:w-52 p-5" src="./img/televizor-shivaki-us32h4103-38353-0.jpeg"alt="">
                                <div class="w-36 md:w-52 h-52">
                                    <div class="hover:text-red-600 text-sm md:text-md lg:text-lg xl:text-lg">Телевизор Shivaki US32H3203</div>
                                    <br>
                                    <del class="text-gray-400 py-1 text-sm">2 335 000 сум</del>
                                    <p class="text-red-600 font-bold text-md md:text-md lg:text-lg xl:text-lg py-1">2 013 000 сум</p>
                                    <mark class="rounded-md px-2 py-1 text-xs font-medium">268 000 сум x 12 мес</mark>
                                    <div class="flex gap-2">
                                        <div class="border-2 border-black w-8 h-8 lg:w-10 lg:h-10 text-center rounded-md mt-10 hover:bg-gray-50">
                                            <i class="bi bi-cart2 text-lg lg:text-2xl"></i>
                                        </div>
                                        <div class="border-2 border-red-600 text-red-600 w-26  md:w-32 lg:w-42 xl:w-44 lg:pt-1 text-center rounded-md mt-10 text-md hover:bg-red-50 md:text-md lg:text-lg xl:text-lg">
                                            В рассрочку
                                        </div>
                                    </div>
                                    <div class="bg-red-600 w-12 px-1 text-white rounded-md absolute top-1">
                                        -10%
                                    </div>
                                    <div class="absolute top-1 right-0 grid gap-3">
                                        <div class="p-2 rounded-full w-10 text-center bg-white">
                                            <i class="bi bi-heart text-xl"></i>
                                        </div>
                                        <div class="p-2 bg-white text-gray-100 rounded-full w-10 text-center">
                                            <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 10h3v10H1V10zM6 0h3v20H6V0zm5 8h3v12h-3V8zm5-4h3v16h-3V4z"/></svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="relative pb-3">
                            <a class="" href="./components/card-description.html">
                                <img class=" sm:w-52 w-36 lg:w-52 p-5" src="./img/televizor-shivaki-us32h4103-38353-0.jpeg"alt="">
                                <div class="w-36 md:w-52 h-52">
                                    <div class="hover:text-red-600 text-sm md:text-md lg:text-lg xl:text-lg">Телевизор Shivaki US32H3203</div>
                                    <br>
                                    <del class="text-gray-400 py-1 text-sm">2 335 000 сум</del>
                                    <p class="text-red-600 font-bold text-md md:text-md lg:text-lg xl:text-lg py-1">2 013 000 сум</p>
                                    <mark class="rounded-md px-2 py-1 text-xs font-medium">268 000 сум x 12 мес</mark>
                                    <div class="flex gap-2">
                                        <div class="border-2 border-black w-8 h-8 lg:w-10 lg:h-10 text-center rounded-md mt-10 hover:bg-gray-50">
                                            <i class="bi bi-cart2 text-lg lg:text-2xl"></i>
                                        </div>
                                        <div class="border-2 border-red-600 text-red-600 w-26  md:w-32 lg:w-42 xl:w-44 lg:pt-1 text-center rounded-md mt-10 text-md hover:bg-red-50 md:text-md lg:text-lg xl:text-lg">
                                            В рассрочку
                                        </div>
                                    </div>
                                    <div class="bg-red-600 w-12 px-1 text-white rounded-md absolute top-1">
                                        -10%
                                    </div>
                                    <div class="absolute top-1 right-0 grid gap-3">
                                        <div class="p-2 rounded-full w-10 text-center bg-white">
                                            <i class="bi bi-heart text-xl"></i>
                                        </div>
                                        <div class="p-2 bg-white text-gray-100 rounded-full w-10 text-center">
                                            <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 10h3v10H1V10zM6 0h3v20H6V0zm5 8h3v12h-3V8zm5-4h3v16h-3V4z"/></svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="relative pb-3">
                            <a class="" href="./components/card-description.html">
                                <img class=" sm:w-52 w-36 lg:w-52 p-5" src="./img/televizor-shivaki-43-sf90g-full-hd-7900-0.jpeg"alt="">
                                <div class="w-36 md:w-52 h-52">
                                    <div class="hover:text-red-600 text-sm md:text-md lg:text-lg xl:text-lg">Телевизор Shivaki US32H3203</div>
                                    <br>
                                    <del class="text-gray-400 py-1 text-sm">2 335 000 сум</del>
                                    <p class="text-red-600 font-bold text-md md:text-md lg:text-lg xl:text-lg py-1">2 013 000 сум</p>
                                    <mark class="rounded-md px-2 py-1 text-xs font-medium">268 000 сум x 12 мес</mark>
                                    <div class="flex gap-2">
                                        <div class="border-2 border-black w-8 h-8 lg:w-10 lg:h-10 text-center rounded-md mt-10 hover:bg-gray-50">
                                            <i class="bi bi-cart2 text-lg lg:text-2xl"></i>
                                        </div>
                                        <div class="border-2 border-red-600 text-red-600 w-26  md:w-32 lg:w-42 xl:w-44 lg:pt-1 text-center rounded-md mt-10 text-md hover:bg-red-50 md:text-md lg:text-lg xl:text-lg">
                                            В рассрочку
                                        </div>
                                    </div>
                                    <div class="bg-red-600 w-12 px-1 text-white rounded-md absolute top-1">
                                        -10%
                                    </div>
                                    <div class="absolute top-1 right-0 grid gap-3">
                                        <div class="p-2 rounded-full w-10 text-center bg-white">
                                            <i class="bi bi-heart text-xl"></i>
                                        </div>
                                        <div class="p-2 bg-white text-gray-100 rounded-full w-10 text-center">
                                            <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 10h3v10H1V10zM6 0h3v20H6V0zm5 8h3v12h-3V8zm5-4h3v16h-3V4z"/></svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="relative pb-3">
                            <a class="" href="./components/card-description.html">
                                <img class=" sm:w-52 w-36 lg:w-52 p-5" src="./img/televizor-shivaki-us50h3303-38403-0.jpeg"alt="">
                                <div class="w-36 md:w-52 h-52">
                                    <div class="hover:text-red-600 text-sm md:text-md lg:text-lg xl:text-lg">Телевизор Shivaki US32H3203</div>
                                    <br>
                                    <del class="text-gray-400 py-1 text-sm">2 335 000 сум</del>
                                    <p class="text-red-600 font-bold text-md md:text-md lg:text-lg xl:text-lg py-1">2 013 000 сум</p>
                                    <mark class="rounded-md px-2 py-1 text-xs font-medium">268 000 сум x 12 мес</mark>
                                    <div class="flex gap-2">
                                        <div class="border-2 border-black w-8 h-8 lg:w-10 lg:h-10 text-center rounded-md mt-10 hover:bg-gray-50">
                                            <i class="bi bi-cart2 text-lg lg:text-2xl"></i>
                                        </div>
                                        <div class="border-2 border-red-600 text-red-600 w-26  md:w-32 lg:w-42 xl:w-44 lg:pt-1 text-center rounded-md mt-10 text-md hover:bg-red-50 md:text-md lg:text-lg xl:text-lg">
                                            В рассрочку
                                        </div>
                                    </div>
                                    <div class="bg-red-600 w-12 px-1 text-white rounded-md absolute top-1">
                                        -10%
                                    </div>
                                    <div class="absolute top-1 right-0 grid gap-3">
                                        <div class="p-2 rounded-full w-10 text-center bg-white">
                                            <i class="bi bi-heart text-xl"></i>
                                        </div>
                                        <div class="p-2 bg-white text-gray-100 rounded-full w-10 text-center">
                                            <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 10h3v10H1V10zM6 0h3v20H6V0zm5 8h3v12h-3V8zm5-4h3v16h-3V4z"/></svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="flex gap-5 p-5">
                <div>
                    <h3>Категория</h3>
                    <ul>
                        <li class="hover:text-red-500">Телевизоры</li>
                        <li class="hover:text-red-500">Стиральные машины</li>
                        <li class="hover:text-red-500">Пылесосы для дома</li>
                        <li class="hover:text-red-500">Кондиционеры и сплит-системы</li>
                        <li class="hover:text-red-500">Обогреватели и камины</li>
                        <li class="hover:text-red-500">Вентиляторы для дома</li>
                        <li class="hover:text-red-500">Утюги для дома</li>
                        <li class="hover:text-red-500">Отпариватели для одежды</li>
                        <li class="hover:text-red-500">Витринный холодильник</li>
                        <li class="hover:text-red-500">Холодильники</li>
                        <li class="hover:text-red-500">Газовые и электрические плиты</li>
                        <li class="hover:text-red-500">Вытяжки</li>
                        <li class="hover:text-red-500">Варочные панели</li>
                        <li class="hover:text-red-500">Морозильные камеры</li>
                        <li class="hover:text-red-500">Микроволновые печи</li>
                        <li class="hover:text-red-500">Блендеры</li>
                        <li class="hover:text-red-500">Миксер</li>
                        <li class="hover:text-red-500">Соковыжималки</li>
                        <li class="hover:text-red-500">Электрочайники и термопоты</li>
                        <li class="hover:text-red-500">Кофеварки и кофемашины</li>
                        <li class="hover:text-red-500">Мясорубки</li>
                        <li class="hover:text-red-500">Кухонные весы</li>
                        <li class="hover:text-red-500">Мини-печи</li>
                        <li class="hover:text-red-500">Фены</li>
                        <li class="hover:text-red-500">Кулеры для воды</li>
                    </ul>
                </div>
                <div>
                   <div>
                     <button class=" w-42  h-10 border-black">
                        <select name="" id="">
                            <option value="">Популярности</option>
                            <option value="">Высокий рейтинг</option>
                            <option value="">Подешевле</option>
                            <option value="">Большей скидке</option>
                            <option value="">Меньшей скидке</option>
                            <option value="">Добавлены недавно</option>
                        </select>
                     </button>
                     <button>1</button>
                     <button>2</button>
                   </div>
                   <div class="flex gap-3 p-5">
                     <div>
                        <div class="relative pb-3">
                            <a class="" href="./components/card-description.html">
                                <img class=" sm:w-52 w-36 lg:w-52 p-5 " src="./img/shivaki-43a9000-full-hd-10077-0.jpeg" alt="">
                                <div class="w-36  h-52 md:w-52">
                                    <div class="mb-6 hover:text-red-600 text-sm  md:text-md lg:text-lg xl:text-lg">Телевизор Shivaki US32H3203</div>
                                    <br>
                                    <p class="font-bold py-1 text-sm  md:text-md lg:text-lg xl:text-lg">2 013 000 сум</p>
                                    <mark class="rounded-md px-2 text-xs font-medium py-1">268 000 сум x 12 мес</mark>
                                    <div class="flex gap-2">
                                        <div class="border-2 border-black w-8 h-8 lg:w-10 lg:h-10 text-center rounded-md mt-10 hover:bg-gray-50">
                                            <i class="bi bi-cart2 text-lg lg:text-2xl"></i>
                                        </div>
                                        <div class="border-2 border-red-600 text-red-600 w-26 md:w-32 lg:w-42 xl:w-44 lg:pt-1  text-center rounded-md mt-10 text-md hover:bg-red-50 md:text-md lg:text-lg xl:text-lg">
                                            В рассрочку
                                        </div>
                                    </div>
                                    <div class="absolute top-1 right-0 grid gap-3">
                                        <div class="p-2 rounded-full w-10 text-center bg-white">
                                            <i class="bi bi-heart text-xl"></i>
                                        </div>
                                        <div class="p-2 text-gray-100 rounded-full w-10 text-center bg-white">
                                            <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 10h3v10H1V10zM6 0h3v20H6V0zm5 8h3v12h-3V8zm5-4h3v16h-3V4z"/></svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                     <div>
                        <div class="relative pb-3">
                            <a class="" href="./components/card-description.html">
                                <img class=" sm:w-52 w-36 lg:w-52 p-5 " src="./img/televizor-shivaki-s32kh5000-158830-0.jpeg" alt="">
                                <div class="w-36  h-52 md:w-52">
                                    <div class="mb-6 hover:text-red-600 text-sm  md:text-md lg:text-lg xl:text-lg">Телевизор Shivaki US32H3203</div>
                                    <br>
                                    <p class="font-bold py-1 text-sm  md:text-md lg:text-lg xl:text-lg">2 013 000 сум</p>
                                    <mark class="rounded-md px-2 text-xs font-medium py-1">268 000 сум x 12 мес</mark>
                                    <div class="flex gap-2">
                                        <div class="border-2 border-black w-8 h-8 lg:w-10 lg:h-10 text-center rounded-md mt-10 hover:bg-gray-50">
                                            <i class="bi bi-cart2 text-lg lg:text-2xl"></i>
                                        </div>
                                        <div class="border-2 border-red-600 text-red-600 w-26 md:w-32 lg:w-42 xl:w-44 lg:pt-1  text-center rounded-md mt-10 text-md hover:bg-red-50 md:text-md lg:text-lg xl:text-lg">
                                            В рассрочку
                                        </div>
                                    </div>
                                    <div class="absolute top-1 right-0 grid gap-3">
                                        <div class="p-2 rounded-full w-10 text-center bg-white">
                                            <i class="bi bi-heart text-xl"></i>
                                        </div>
                                        <div class="p-2 text-gray-100 rounded-full w-10 text-center bg-white">
                                            <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 10h3v10H1V10zM6 0h3v20H6V0zm5 8h3v12h-3V8zm5-4h3v16h-3V4z"/></svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                     </div>
                     <div>
                        <div class="relative pb-3">
                            <a class="" href="./components/card-description.html">
                                <img class=" sm:w-52 w-36 lg:w-52 p-5 " src="./img/televizor-shivaki-us32h4103-38353-0.jpeg" alt="">
                                <div class="w-36  h-52 md:w-52">
                                    <div class="mb-6 hover:text-red-600 text-sm  md:text-md lg:text-lg xl:text-lg">Телевизор Shivaki US32H3203</div>
                                    <br>
                                    <p class="font-bold py-1 text-sm  md:text-md lg:text-lg xl:text-lg">2 013 000 сум</p>
                                    <mark class="rounded-md px-2 text-xs font-medium py-1">268 000 сум x 12 мес</mark>
                                    <div class="flex gap-2">
                                        <div class="border-2 border-black w-8 h-8 lg:w-10 lg:h-10 text-center rounded-md mt-10 hover:bg-gray-50">
                                            <i class="bi bi-cart2 text-lg lg:text-2xl"></i>
                                        </div>
                                        <div class="border-2 border-red-600 text-red-600 w-26 md:w-32 lg:w-42 xl:w-44 lg:pt-1  text-center rounded-md mt-10 text-md hover:bg-red-50 md:text-md lg:text-lg xl:text-lg">
                                            В рассрочку
                                        </div>
                                    </div>
                                    <div class="absolute top-1 right-0 grid gap-3">
                                        <div class="p-2 rounded-full w-10 text-center bg-white">
                                            <i class="bi bi-heart text-xl"></i>
                                        </div>
                                        <div class="p-2 text-gray-100 rounded-full w-10 text-center bg-white">
                                            <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 10h3v10H1V10zM6 0h3v20H6V0zm5 8h3v12h-3V8zm5-4h3v16h-3V4z"/></svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                     </div>
                     <div>
                        <div class="relative pb-3">
                            <a class="" href="./components/card-description.html">
                                <img class=" sm:w-52 w-36 lg:w-52 p-5 " src="./img/televizor-shivaki-us32h4103-38353-0.jpeg" alt="">
                                <div class="w-36  h-52 md:w-52">
                                    <div class="mb-6 hover:text-red-600 text-sm  md:text-md lg:text-lg xl:text-lg">Телевизор Shivaki US32H3203</div>
                                    <br>
                                    <p class="font-bold py-1 text-sm  md:text-md lg:text-lg xl:text-lg">2 013 000 сум</p>
                                    <mark class="rounded-md px-2 text-xs font-medium py-1">268 000 сум x 12 мес</mark>
                                    <div class="flex gap-2">
                                        <div class="border-2 border-black w-8 h-8 lg:w-10 lg:h-10 text-center rounded-md mt-10 hover:bg-gray-50">
                                            <i class="bi bi-cart2 text-lg lg:text-2xl"></i>
                                        </div>
                                        <div class="border-2 border-red-600 text-red-600 w-26 md:w-32 lg:w-42 xl:w-44 lg:pt-1  text-center rounded-md mt-10 text-md hover:bg-red-50 md:text-md lg:text-lg xl:text-lg">
                                            В рассрочку
                                        </div>
                                    </div>
                                    <div class="absolute top-1 right-0 grid gap-3">
                                        <div class="p-2 rounded-full w-10 text-center bg-white">
                                            <i class="bi bi-heart text-xl"></i>
                                        </div>
                                        <div class="p-2 text-gray-100 rounded-full w-10 text-center bg-white">
                                            <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 10h3v10H1V10zM6 0h3v20H6V0zm5 8h3v12h-3V8zm5-4h3v16h-3V4z"/></svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                     </div>
                     <div>
                        
                        <div class="relative pb-3">
                            <a class="" href="./components/card-description.html">
                                <img class=" sm:w-52 w-36 lg:w-52 p-5 " src="./img/televizor-shivaki-us50h3303-38403-0.jpeg" alt="">
                                <div class="w-36  h-52 md:w-52">
                                    <div class="mb-6 hover:text-red-600 text-sm  md:text-md lg:text-lg xl:text-lg">Телевизор Shivaki US32H3203</div>
                                    <br>
                                    <p class="font-bold py-1 text-sm  md:text-md lg:text-lg xl:text-lg">2 013 000 сум</p>
                                    <mark class="rounded-md px-2 text-xs font-medium py-1">268 000 сум x 12 мес</mark>
                                    <div class="flex gap-2">
                                        <div class="border-2 border-black w-8 h-8 lg:w-10 lg:h-10 text-center rounded-md mt-10 hover:bg-gray-50">
                                            <i class="bi bi-cart2 text-lg lg:text-2xl"></i>
                                        </div>
                                        <div class="border-2 border-red-600 text-red-600 w-26 md:w-32 lg:w-42 xl:w-44 lg:pt-1  text-center rounded-md mt-10 text-md hover:bg-red-50 md:text-md lg:text-lg xl:text-lg">
                                            В рассрочку
                                        </div>
                                    </div>
                                    <div class="absolute top-1 right-0 grid gap-3">
                                        <div class="p-2 rounded-full w-10 text-center bg-white">
                                            <i class="bi bi-heart text-xl"></i>
                                        </div>
                                        <div class="p-2 text-gray-100 rounded-full w-10 text-center bg-white">
                                            <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 10h3v10H1V10zM6 0h3v20H6V0zm5 8h3v12h-3V8zm5-4h3v16h-3V4z"/></svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                     </div>
                   </div> 
                </div>
            </div>
        </section>
        <section>
            <div class="p-5">
               <p>Вы можете купить Shivaki Телевизоры с быстрой доставкой и с официальной гарантией в регион сразу или в рассрочку. У нас купить Shivaki Телевизоры в рассрочку очень быстро и легко. Зачем купить Shivaki Телевизоры в кредит если в онлайне более удобно и дешево. Быстрая доставка по Узбекистану</p>
            </div>
        </section>
                       <!-- footer start -->
        <section>
            <div class="footer bg-zinc-100">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-44 px-4 md:px-16 lg:px-40 xl:px-80 appDownload">
                    <div class="appDownload__social">
                        <div class="text-2xl font-bold">Наше мобильное приложение доступно <br> в AppGallery, App store и Google play</div>
                        <div class="mt-6 gap-6 grid grid-cols-2">
                            <a class="bg-white hover:bg-gray-200 duration-200 w-40 h-14 rounded-xl" href="#"><img class="p-2" src="./img/appstore.32a5f67a.svg" alt="App Store Logo"></a>
                            <a class="bg-white hover:bg-gray-200 duration-200 w-40 h-14 rounded-xl" href="#"><img class="p-3" src="./img/googleplay.4ba35be8.svg" alt="Google Play Logo"></a>
                            <a class="bg-white hover:bg-gray-200 duration-200 w-40 h-14 rounded-xl" href="#"><img class="p-1" class="-ml-4" src="./img/app-gallery.879faacf.svg" alt="App Gallery logo"></a>
                        </div>
                    </div>
                    <div class="appDownload__mobileImg">
                        <img src="./img/footer-img.745872f8.webp" alt="">
                    </div>
                </div>
            </div>
        </section>
                    <!-- footer end -->
    </main>
</body>
</html>